<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CocoaSharp.CoreGraphics" version="1.0.0" targetFramework="xamarinmac20" />
  <package id="CocoaSharp.ObjectiveC" version="1.0.0" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="xamarinmac20" />
  <package id="SDK.All" version="1.1.0" targetFramework="xamarinmac20" />
  <package id="SharpSwift.Attributes" version="1.1.0" targetFramework="xamarinmac20" />
  <package id="System.AppContext" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="5.0.0.2478" targetFramework="xamarinmac20" />
</packages>